{{#each posts as |post|}}
<div class="jumbotron">
<div class="card">
    <h4 class="card-header bg-info">
        <a class="text-white" href="/post/{{post.id}}">{{post.title}}</a>
    </h4>
    <div class="card-body">
        <p class="card-text">{{post.comment}}</p>
        <small class="text-muted">posted by {{post.user.username}} on {{formatDate post.createdate}}</small>
    </div>
</div>
</div>
{{/each}}